@using ProductApp.Enums
@using ProductApp.Models.ViewModels
@{
	@model CreateProductViewModel

}
<form method="post" asp-action="Create" class="mt-5">
	<h1>Add Product</h1>
	<hr />
	<div class="mb-3">
		<label for="name" class="form-label">Name</label>
		<input type="text" class="form-control" name="name" asp-for="Name" />
	</div>

	<div class="mb-3 form-check">
		<input type="radio" class="form-check-input" value="@Categories.Clothes" name="Category" asp-for="Category" />
		<label class="form-check-label" for="Category">@Categories.Clothes</label>
	</div>

	<div class="mb-3 form-check">
		<input type="radio" class="form-check-input" value="@Categories.Food" name="Category" asp-for="Category" />
		<label class="form-check-label" for="Category">@Categories.Food</label>
	</div>

	<div class="mb-3 form-check">
		<input type="radio" class="form-check-input" value="@Categories.Cosmetics" name="Category" asp-for="Category" />
		<label class="form-check-label" for="Category">@Categories.Cosmetics</label>
	</div>

	<div class="mb-3">
		<label for="price" class="form-label">Price</label>
		<input type="number" class="form-control" name="price" asp-for="Price" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" />
	</div>
	<div class="mb-3">
		<label for="quantity" class="form-label">Quantity</label>
		<input type="number" class="form-control" name="quantity" asp-for="Quantity" />
	</div>

	<div class="mb-3">
		<input type="submit" class="btn-100w btn btn-primary" value="Create" />
	</div>
</form>
