@using CompanyManagerApp.Models.ViewModels
@{
	@model ViewEmployeeViewModel
}
<div class="jumbotron">
	<h1 class="display-4">@Model.Name</h1>
	<p class="lead">@Model.DateOfBirth.ToShortDateString() | @Model.Id</p>
	<hr class="my-4">
	<p>@Model.Name is from the @Model.DepartmentName department with a salary of @Model.Salary.</p>
	<p>His email is @Model.Email</p>
</div>
